@use "../../core/styles/variables" as vars;

.header {
    &__button {
        margin: 0.25rem;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        height: 3rem;
        width: 3rem;
        font-size: 1.875rem;
        color: vars.$link-text-color;
    }

    &__nav {
        position: absolute;
        font-size: 1.5rem;
        margin-top: -200px;
        transition: margin-top 500ms ease-in-out;
    }

    &__links {
        padding: 1.25rem;
    }

    &__link {
        padding: 0.5rem 0.5rem 0;
        color: vars.$link-text-color;
    }

    &__link-text:hover {
        border-bottom: 0.1875rem solid vars.$hover-nav-color;
        margin-bottom: -0.1875rem;
        text-decoration: none;
    }
}

@media screen and (min-width: vars.$break-small) {
    .header {
        &__button {
            display: none;
        }

        &__nav {
            right: 0;
            font-size: 1.25rem;
            margin-top: 0;
            width: 29.375rem;
        }

        &__links {
            display: flex;
        }

        &__link {
            text-align: center;
            width: 25%;
        }

        &__link-text {
            display: block;
        }
    }
}

//======== End of @media screen and (min-width: vars.$break-small) ========/

@media screen and (min-width: vars.$content-max-width) {
    .header__nav {
        right: auto;
        margin-left: 59.5%;
    }
}
