name: "Check PR"

on: pull_request

jobs:
    cache-dependencies:
        name: Install and cache dependencies

        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - uses: actions/setup-node@v3
              with:
                  node-version: 16

            - name: Install dependencies
              run: npm install

            - name: Cache dependencies
              id: cache-npm
              uses: actions/cache@v3
              env:
                  cache-name: cache-node-modules
              with:
                  path: ~/.npm
                  key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-build-${{ env.cache-name }}-
                      ${{ runner.os }}-build-
                      ${{ runner.os }}-

            - if: ${{ steps.cache-npm.outputs.cache-hit == false }}
              name: List the state of node modules
              continue-on-error: true
              run: npm list

    build:
        name: Build

        runs-on: ubuntu-latest

        needs: cache-dependencies

        steps:
            - uses: actions/checkout@v3

            - uses: actions/setup-node@v3
              with:
                  node-version: 16

            - name: Use cached dependencies
              id: cache-npm
              uses: actions/cache@v3
              with:
                  path: ~/.npm
                  key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-build-${{ env.cache-name }}-
                      ${{ runner.os }}-build-
                      ${{ runner.os }}-

            - name: Install dependencies
              run: npm run build

    lint:
        runs-on: ubuntu-latest

        name: Lint changed files

        steps:
            - uses: actions/checkout@v3

            - uses: actions/setup-node@v3
              with:
                  node-version: 16

            - name: Install dependencies
              run: npm install

            - name: Get changed files
              id: changed-js-files
              uses: tj-actions/changed-files@v20
              with:
                  files: |
                      **/*.js

            - name: Check changed files with ESLint
              run: npm run lint ${{ steps.changed-js-files.outputs.all_changed_files }}

    format:
        runs-on: ubuntu-latest

        name: Check formatting of changed files

        steps:
            - uses: actions/checkout@v3

            - uses: actions/setup-node@v3
              with:
                  node-version: 16

            - name: Install dependencies
              run: npm install

            - name: Get changed files
              id: changed-files
              uses: tj-actions/changed-files@v20

            - name: Check changed files with Prettier
              run: npm run format ${{ steps.changed-files.outputs.all_changed_files }}

    test:
        runs-on: ubuntu-latest

        name: Create test coverage report

        permissions:
            checks: write
            pull-requests: write

        steps:
            - uses: actions/checkout@v3

            - uses: actions/setup-node@v3
              with:
                  node-version: 16

            - name: Install dependencies
              run: npm install

            - name: Run tests and add coverage report
              uses: ArtiomTr/jest-coverage-report-action@v2
              with:
                  test-script: npm run test:coverage
                  skip-step: install
                  annotations: failed-tests
              env:
                  CI: true
