name: "Check PR"

on: pull_request

jobs:
    build:
        runs-on: ubuntu-latest

        name: NPM install and build

        steps:
            - uses: actions/checkoutv3

            - name: Install dependencies
              run: |
                  npm install
                  npm run build

            - uses: actions/upload-artifact@master
              with:
                  name: webpack artifacts
                  path: public/

    test:
        runs-on: ubuntu-latest

        name: Check changed files and create test coverage report

        permissions:
            checks: write
            pull-requests: write

        steps:
            - uses: actions/checkout@v3

            - uses: actions/download-artifact@master
              with:
                  name: webpack artifacts
                  path: public/

            - uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "npm"

            - name: Install dependencies
              run: npm ci

            - name: Get changed files
              id: changed-js-files
              uses: tj-actions/changed-files@v20
              with:
                  files: |
                      **/*.js

            - name: Check changed files with ESLint
              run: npm run lint ${{ steps.changed-js-files.outputs.all_changed_files }}

            - name: Get changed files
              id: changed-files
              uses: tj-actions/changed-files@v20

            - name: Check changed files with Prettier
              run: npm run format ${{ steps.changed-files.outputs.all_changed_files }}

            - name: Run tests and add coverage report
              uses: ArtiomTr/jest-coverage-report-action@v2
              with:
                  test-script: npm run test:coverage
                  skip-step: install
                  annotations: failed-tests
