name: "Check PR"

on: pull_request

jobs:
    build:
        runs-on: ubuntu-latest

        name: Automated FE checks

        permissions:
            checks: write
            pull-requests: write

        steps:
            - uses: actions/checkout@v3

            - uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "npm"

            - name: Install dependencies
              run: npm ci

            - name: Check changed files with ESLint
              uses: tj-actions/eslint-changed-files@v11
              with:
                  config_path: ".eslintrc.js"
                  file_extensions: |
                      **/*.js

            - name: Get changed files
              id: changed-files
              uses: tj-actions/changed-files@v20

            - name: Check changed files with Prettier
              run: npm run format ${{ steps.changed-files.outputs.all_changed_files }}

            - uses: ArtiomTr/jest-coverage-report-action@v2
              with:
                  test-script: npm run test:coverage
                  skip-step: install
                  annotations: failed-tests
