name: "Check PR"

on: pull_request

jobs:
    build:
        runs-on: ubuntu-latest

        name: NPM install and build

        steps:
            - uses: actions/checkout@v3

            - name: Install dependencies
              run: |
                  npm install
                  npm run build

            - uses: actions/upload-artifact@v3
              with:
                  name: npm-build
                  path: public/

    lint:
        runs-on: ubuntu-latest

        needs: build

        name: Lint changed files

        steps:
            - uses: actions/checkout@v3

            - uses: actions/download-artifact@v3
              with:
                  name: npm-build
                  path: public/

            - name: Get changed files
              id: changed-js-files
              uses: tj-actions/changed-files@v20
              with:
                  files: |
                      **/*.js

            - name: Check changed files with ESLint
              run: npm run lint ${{ steps.changed-js-files.outputs.all_changed_files }}

    format:
        runs-on: ubuntu-latest

        needs: build

        name: Check formatting of changed files

        steps:
            - uses: actions/checkout@v3

            - uses: actions/download-artifact@v3
              with:
                  name: npm-build
                  path: public/

            - name: Get changed files
              id: changed-files
              uses: tj-actions/changed-files@v20

            - name: Check changed files with Prettier
              run: npm run format ${{ steps.changed-files.outputs.all_changed_files }}

    test:
        runs-on: ubuntu-latest

        needs: build

        name: Create test coverage report

        permissions:
            checks: write
            pull-requests: write

        steps:
            - uses: actions/checkout@v3

            - uses: actions/download-artifact@v3
              with:
                  name: npm-build
                  path: public/

            - name: Run tests and add coverage report
              uses: ArtiomTr/jest-coverage-report-action@v2
              with:
                  test-script: npm run test:coverage
                  skip-step: install
                  annotations: failed-tests
              env:
                  CI: true
